/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Hanlding Updates
-----------------------------------------------------------------*/



.montserrat {
  font-family: 'Montserrat' !important;
}

.montserrat-light {
  font-family: 'Montserrat-Light' !important;
}

.montserrat-black {
  font-family: 'Montserrat-Black' !important;
}

.montserratalternates {
  font-family: 'MontserratAlternates-Regular' !important;
}

.montserratalternates-bold {
  font-family: 'MontserratAlternates-Bold' !important;
}
